// These colors are specific to the theme. Do not use in a package!

@brand-gray1: #23272B;
@brand-gray2: #475059;
@brand-gray3: #5C6773;
@brand-gray4: #707E8C;
@brand-gray5: #8595A6;
@brand-gray6: #A3B0BF;
@brand-gray7: #C3CDD9;
@brand-gray8: #E6ECF2;

@brand-purple: #B63DF2;
@brand-blue: #3355FF;
@brand-mint: #50B4E6;
@brand-teal: #3EB38C;
@brand-green: #95BF41;
@brand-orange: #F2B03D;
@brand-red: #E62E2E;
@brand-pink: #E64EB3;

@brand-selection: #001196;

@kyaho-text: @brand-gray6;
@kyaho-editor-bg: @brand-gray1;
@kyaho-editor-gutter-bg: @brand-gray1;
@kyaho-editor-gutter-bg-selected: @brand-gray1;
@kyaho-editor-gutter-text: @brand-gray3;
@kyaho-editor-gutter-text-selected: @brand-mint;
@kyaho-selection: @brand-selection;
@kyaho-cursor: @brand-pink;

@kyaho-wrap-guide: lighten(@brand-gray1, 5%);
@kyaho-indent-guide: lighten(@brand-gray1, 5%);
@kyaho-invisible: lighten(@brand-gray1, 5%);

@kyaho-result-marker: @brand-gray6;
@kyaho-result-marker-selected: @brand-gray2;

@kyaho-git-added: @brand-green;
@kyaho-git-deleted: @brand-red;
@kyaho-git-modified: @brand-orange;
@kyaho-git-renamed: @brand-mint;

@kyaho-line-folded-bg: @brand-gray2;


/*  Syntax colors
*/

@kyaho-comment: @brand-gray3;

@kyaho-variable: @brand-pink;
@kyaho-entity-tag: @brand-green;
@kyaho-entity-class: @brand-teal;
@kyaho-entity-id: @brand-mint;
@kyaho-entity-function: @brand-green;
@kyaho-illegal: @brand-red;
@kyaho-string: @brand-gray6;
@kyaho-regexp: @brand-purple;

@kyaho-heading: @brand-blue;
